application/Ext/Include
application/Ext/Language
application/Ext/LogicHooks
application/Ext/TableDictionary

blowfish

Extension/*
!Extension/modules/
Extension/modules/*
!Extension/modules/Employees/
!Extension/modules/Employees/Ext/
!Extension/modules/Employees/Ext/Language/

history

Include/tabConfig.php

modulebuilder

## Ignore all files in the modules directory except for the logic_hooks.php files
modules/*
!modules/*/logic_hooks.php
# Cho phép toàn bộ thư mục Employees
# !modules/Employees/
# !modules/Employees/**

!themes/SuiteP/tpls

working
